<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <iframe src="https://ghbtns.com/github-btn.html?user=cnlh&repo=nps&type=star&count=true&size=large"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=cnlh&repo=nps&type=watch&count=true&size=large&v=2"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=cnlh&repo=nps&type=fork&count=true&size=large"
                    frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Domain proxy mode</h3>
            <p>
                <b>Use case:</b> small program development, public account development, product demo
            </p>
            <p>
                <b>Scenario:</b>
            <li>You own the domain proxy.com and a public server with IP {{.ip}}</li>
            <li>You have two intranet sites: 127.0.0.1:81 and 127.0.0.1:82</li>
            <li>You want to access 127.0.0.1:81 via a.proxy.com and 127.0.0.1:82 via b.proxy.com</li>
            </p>
            <p><b>Steps:</b></p>
            <ul>
                <li>Resolve *.proxy.com to the public server {{.ip}}</li>
                <li>In the client management page, create a client and write down the verify key</li>
                <li>Open the host management of that client and add two rules: 1) host: a.proxy.com, target: 127.0.0.1:81, 2) host: b.proxy.com, target: 127.0.0.1:82</li>
                <li>Run on the intranet client <code>
                    <pre>./npc -server={{.ip}}:{{.p}} -vkey=&lt;client verify key&gt;</pre>
                </code></pre></li>
                <li>You can now visit a.proxy.com and b.proxy.com</li>
            </ul>
            <p>Note: the public IP ({{.ip}}) above is auto-detected. Adjust it if you are in a test environment. <b>If you want to use HTTPS, set the HTTPS port to 443 in the configuration file and add the certificate paths.</b></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">TCP tunnel mode</h3>
            <p>
                <b>Use case:</b> SSH, remote desktop and other TCP scenarios
            </p>
            <p>
                <b>Scenario:</b> You want to connect to port 22 of intranet machine 10.1.50.101 by accessing port 8001 of public server {{.ip}} for SSH access
            </p>
            <p><b>Steps:</b></p>
            <ul>
                <li>Create a client in the client management page and write down the verify key</li>
                <li>Run on the intranet client <code>
                    <pre>./npc -server={{.ip}}:{{.p}} -vkey=&lt;client verify key&gt;</pre>
                </code></pre>
                </li>
                <li>In the tunnel management of that client, add a TCP tunnel: listen port (8001), target IP and port (10.1.50.101:22), choose compression and save.</li>
                <li>Accessing the public server {{.ip}}:8001 is equivalent to accessing 10.1.50.101:22, e.g. ssh -p 8001 root@{{.ip}}</li>
            </ul>
            <p>Note: the public IP ({{.ip}}) above is auto-detected. Adjust it if you are in a test environment. The intranet client is assumed to be running.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">UDP tunnel mode</h3>
            <p>
                <b>Use case:</b> intranet DNS resolution and other UDP scenarios
            </p>
            <p>
                <b>Scenario:</b> there is an intranet DNS server (10.1.50.102:53) you want to use from outside the intranet, public server is {{.ip}}
            </p>
            <p><b>Steps:</b></p>
            <ul>
                <li>Create a client in the client management page and write down the verify key</li>
                <li>Run on the intranet client <code>
                    <pre>./npc -server={{.ip}}:{{.p}} -vkey=&lt;client verify key&gt;</pre>
                </code></pre>
                </li>
                <li>In the tunnel management of that client, add a UDP tunnel: listen port (53), target IP and port (10.1.50.102:53), choose compression and save.</li>
                <li>Set the local DNS to {{.ip}}, which is equivalent to using 10.1.50.102 as the DNS server</li>
            </ul>
            <p>Note: the public IP ({{.ip}}) above is auto-detected. Adjust it if you are in a test environment. The intranet client is assumed to be running.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">SOCKS5 proxy mode</h3>
            <p>
                <b>Use case:</b> access intranet devices or resources from outside as if you were on a VPN
            </p>
            <p>
                <b>Scenario:</b> use port 8003 of public server {{.ip}} as a SOCKS5 proxy to reach any intranet device or resource
            </p>
            <p><b>Steps:</b></p>
            <ul>
                <li>Create a client in the client management page and write down the verify key</li>
                <li>Run on the intranet client <code>
                    <pre>./npc -server={{.ip}}:{{.p}} -vkey=&lt;client verify key&gt;</pre>
                </code></pre>
                </li>
                <li>In the tunnel management of that client, add a SOCKS5 proxy: listen port (8003), an optional username and password (Proxifier supports it, some clients do not), choose compression and save.</li>
                <li>On the external machine, configure a SOCKS5 proxy with IP {{.ip}} and port 8003, and you have full access to the intranet</li>
            </ul>
            <p>Note: the public IP ({{.ip}}) above is auto-detected. Adjust it if you are in a test environment. The intranet client is assumed to be running.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">HTTP proxy mode</h3>
            <p>
                <b>Use case:</b> access intranet websites from outside
            </p>
            <p>
                <b>Scenario:</b> use port 8004 of public server {{.ip}} as an HTTP proxy to access intranet websites
            </p>
            <p><b>Steps:</b></p>
            <ul>
                <li>Create a client in the client management page and write down the verify key</li>
                <li>Run on the intranet client <code>
                    <pre>./npc -server={{.ip}}:{{.p}} -vkey=&lt;client verify key&gt;</pre>
                </code></pre>
                </li>
                <li>In the tunnel management of that client, add an HTTP proxy: listen port (8004), choose compression and save.</li>
                <li>On the external machine, configure an HTTP proxy with IP {{.ip}} and port 8004 to start browsing</li>
            </ul>
            <p>Note: the public IP ({{.ip}}) above is auto-detected. Adjust it if you are in a test environment. The intranet client is assumed to be running.</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">
            <p><b>A single client can have multiple tunnels or domain rules.</b></p>
        </div>
    </div>
</div>
